.input-image .output-image {
  max-height: 300px; /* Adjust as needed */
  object-fit: cover;
  width: 100%; /* Ensure full width within its container */
}

.gr-block {
  overflow-y: auto; /* Enable vertical scrolling for long content */
  max-height: calc(100vh - 100px); /* Set max height based on viewport height */
  padding: 10px; /* Optional padding for better aesthetics */
}

.gradio-app .gradio-container.gradio-container-4-24-0 .contain #component-4{
    max-height: 100px; /* Adjust as needed */
    object-fit: cover;
    width: 100%; /* Ensure full width within its container */
}

.image-frame.svelte-rrgd5g {
    object-fit: cover;
    width: 100%;
    max-height: 256px;
}



/* Add any other styles as needed */
